<h1 class="pacifico big blue text-center">Dashboard</h1>
<hr>
<div class="text-center">
    <div class="col-sm-6">
      <div class="thumbnail">
        <a [routerLink]="['/dashboard/blackout']">
        <img src=".././assets/images/persiana.png" alt="persiana" width="300" height="200">
        <h4>Persianas</h4></a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <a [routerLink]="['/dashboard/luces']">
        <img src=".././assets/images/luces.jpg" alt="Luces" width="300" height="200">
        <h4>Luces</h4></a>
      </div>
    </div>
</div>
