<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src=".././assets/images/impresora.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Impresoras 3D</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src=".././assets/images/persiana.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <a [routerLink]="['/dashboard/blackout']"><h4>Blackout</h4></a>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src=".././assets/images/luces.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Luces</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src=".././assets/images/ventilador.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Ventiladores</h4>
    <span class="text-muted">Something else</span>
  </div>
</div>
