<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div>
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 col-md-3 placeholder text-center">
      <img src=".././assets/images/persiana.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Impresoras 3D</h4>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 placeholder text-center">
      <img src=".././assets/images/persiana.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <a [routerLink]="['/dashboard/blackout']"><h4>Blackout</h4></a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 placeholder text-center">
      <img src=".././assets/images/persiana.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <a [routerLink]="['/dashboard/luces']"><h4>Luces</h4></a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 placeholder text-center">
      <img src=".././assets/images/persiana.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Ventiladores</h4>
    </div>
  </div>
</div>
