<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Iniciar sesión</h3>
        </div>
        <div class="panel-body">
          <form role="form" (submit)="onLoginSubmit()">
            <fieldset>
              <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input class="form-control" [(ngModel)]="username" name="username" type="text" placeholder="Nombre de usuario" autofocus>
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Contraseña"/>
              </div>
              <input class="btn btn-lg btn-success btn-block" type="submit" value="Entrar"/>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
