<h1 class="pacifico big blue text-center">Panel de administración</h1>
<hr>
<div class="table-responsive">
  <table class="table table table-striped table-hover">
    <caption><strong>Cuentas activas</strong></caption>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Nombre de usuario</th>
          <th>Email</th>
          <th>Admin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let user of users.user'>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.isAdmin | yesNo }}</td>
          <td>
            <button class="btn btn-primary btn-xs" (click)="editUser(user)">Editar</button>
            {{" - "}}
            <button class="btn btn-primary btn-xs"  (click)="temporal(user)" data-toggle="modal" data-target="#myModal">Eliminar</button>
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar</h4>
                  </div>
                  <div class="modal-body">
                    <p>¿Está seguro de eliminar al usuario <strong>{{usert.username}}</strong>?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button (click)="deleteUser(usert)" type="button" class="btn btn-primary">Eliminar usuario</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="col-md-8 remove-float center-block text-center top-space">
    <a [routerLink]="['/register']" class="right-spacer btn btn-primary"> Agregar nuevo usuario </a>
</div>
<div class="top-space"></div>
