<h1>Panel de administración</h1>
<div class="table-responsive">
  <table class="table">
    <caption>Cuentas activas</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Nombre de usuario</th>
          <th>Email</th>
          <th>Contraseña</th>
          <th>Admin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let user of users'>
          <td>{{user._id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
          <td>{{user.isAdmin}}</td>
          <td>
            <a href="">Editar</a>
            {{" - "}}
            <a href="">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
