<h1>Panel de administración</h1>
<div class="table-responsive">
  <table class="table">
    <caption>Cuentas activas</caption>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Nombre de usuario</th>
          <th>Email</th>
          <th>Admin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let user of users'>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.isAdmin | yesNo }}</td>
          <td>
            <a href="">Editar</a>
            {{" - "}}
            <button (click)="deleteUser(user)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="col-md-8 remove-float center-block text-center top-space">
    <a [routerLink]="['/register']" class="right-spacer btn btn-primary"> Agregar nuevo usuario </a>
</div>
<div class="top-space"></div>
