<hr><hr>
<h2 class="page-header text-center">Registrar usuario</h2>
<div class="col-md-4 col-md-offset-4 remove-float center-block form-horizontal top-space">
  <div class="login-panel panel panel-default">
    <div class="panel-body">
      <form (ngSubmit)="onRegisterSubmit()" #userForm="ngForm">
        <fieldset>
          <div class="form-group">
            <label for="name">Nombre completo</label>
            <input class="form-control" [(ngModel)]="user.name" name="name" required  required minlength="4" forbiddenName="bob"  placeholder="Ingrese el nombre completo" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
               <div *ngIf="name.errors.required">
                 Name is required.
               </div>
               <div *ngIf="name.errors.minlength">
                 Name must be at least 4 characters long.
               </div>
               <div *ngIf="name.errors.forbiddenName">
                 Name cannot be Bob.
               </div>
             </div>
          </div>
          <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input id="name" name="username" type="text" class="form-control" [(ngModel)]="user.username" (keyup)="usuarioExiste()" required minlength="4" forbiddenName="bob" placeholder="Ingrese el nombre de usuario" #username="ngModel"/>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <div *ngIf="username.errors.required">
                Name is required.
              </div>
              <div *ngIf="username.errors.minlength">
                Name must be at least 4 characters long.
              </div>
              <div *ngIf="username.errors.forbiddenName">
                Name cannot be Bob.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" [(ngModel)]="user.email" name="email" required type="text" placeholder="Ingrese el email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Debe ingresar un correo</div>
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input class="form-control" [(ngModel)]="user.password" name="password" type="password" required  placeholder="Contraseña "#password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Debe ingresar una contraseña</div>
          </div>
          <div class="form-group text-center">
            <label for="admin">Permisos de administrador</label>
            <input type="checkbox" [(ngModel)]="user.isAdmin"name="isAdmin"/>
          </div>
          <div class="top-space form-group text-center">
            <input [disabled]="!userForm.form.valid" class="btn btn-primary" type="submit" value="Agregar usuario"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
