<hr><hr>
<h2 class="page-header">Registrar usuario</h2>
<div class="col-md-6 remove-float center-block  big-top-space">
  <form (submit)="onRegisterSubmit()" >
    <div class="form-group">
      <label for="name">Nombre completo</label>
      <input class="form-control" [(ngModel)]="name" name="name" type="text" placeholder="Nombre completo"/>
    </div>
    <div class="form-group">
      <label for="username">Nombre de usuario</label>
      <input class="form-control" [(ngModel)]="username" name="username" type="text" placeholder="Nombre de usuario"/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" [(ngModel)]="email" name="email" type="text" placeholder="Email"/>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Contraseña"/>
    </div>
    <div class="form-group">
      <label for="admin">Permisos de administrador</label>
      <input type="checkbox" [(ngModel)]="isAdmin" name="isAdmin"/>
    </div>
    <div class="top-space form-group text-center">
      <input class="btn btn-primary" type="submit" value="Agregar usuario"/>
    </div>
  </form>
</div>
