<ul class="nav nav-pills nav-justified">
  <li class="active"><a data-toggle="tab" href="#home">Control persianas</a></li>
  <li><a (click)="actualizar()" data-toggle="tab" href="#menu1">Estadisticas</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class="row remove-float center-block top-space text-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-body">
              <strong>{{estadoPersiana}}</strong>
              <br><br>
              <div class="row">
                <div class="col-sm-8">
                  <img type="image" id="myImage" (click)="changeImage()" src="{{link}}" width="180" height="200"><br><br>
                </div>
                <div class="col-sm-2 top-space">
                  <mat-slider color="primary" (mouseleave)="ocurrioUnEvento($event)"  (mouseenter)="ocurrioUnEvento($event)" vertical invert min="0" max="20" step="5" [disabled]="estadoMovimiento" (change)="onValueChange()" value="0" [(ngModel)]="vslider" tickInterval="5" thumb-label></mat-slider>
                </div>
              </div>
              <strong>Mueva el control deslizante y presione enviar para mover la persiana.</strong>
              <br><br>
              <button [disabled]="estadoMovimientoBTN" (click)="enviarTarea()" class="btn btn-primary">Enviar</button>
            </div>
          </div>
          <div *ngIf="error" class="alert alert-dismissible alert-danger">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <strong>Rayos! Hubo un error al tratar de comunicarse con el dispostivo.</strong>
          </div>
          <div *ngIf="success" class="alert alert-dismissible alert-success">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <strong>La persiana fue movida con exito.</strong>
          </div>
        </div>
        <div class="col-sm-4">
          <div *ngIf="messages.sentido" class="panel panel-primary messages big-top-space">
            <div class="panel-heading">
              <h3 class="panel-title">Información del dispostivo</h3>
            </div>
            <div class="panel-body">
              <h3>Estado</h3>
            	<strong>Sentido: {{messages.sentido}}</strong>
              <br>
              <strong>Vueltas: {{messages.vueltas}}</strong>
              <br>
              <strong>Progeso: {{messages.progreso}}%</strong>
              <br>
              <strong>Estado: {{messages.estado}}</strong>
              <div class="progress progress-striped active">
                <div class="progress-bar" [style.width.%]="progress"></div>
              </div>
            </div>
        	</div>
        </div>

    </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <div class="col-sm-4 col-sm-offset-4">
      <div style="display: block" class="big-top-space">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div class="text-center">
        <button (click)="actualizar()" class="btn btn-primary">Actualizar</button>
      </div>
    </div>
  </div>
</div>
