<!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container">
       <h1>Plataforma Semard</h1>
       <p class="lead">Plataforma para controlar los servicios IOT del laboratorio de Semard.</p>
     </div>
     <div class="text-center">
       <a class="btn btn-primary btn-lg" [routerLink]="['/login']">Login</a>
       <a class="btn btn-primary btn-lg" [routerLink]="['/register']">Register</a>
     </div>

   <div class="container text-center">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Interesante</h2>
          <p>Interesante</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Angular</h2>
          <p>Angular </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Rocks</h2>
          <p>Rocks</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
